/* reset */
* {
  margin: 0;
  padding: 0;
}

/* geenral */
html,
body {
  font-family: "Open Sans", sans-serif;
  color: #333;
}

.btn-primary {
  background: white;
  color: #222;
}

.btn-dark {
  background: #222;
  color: white;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  border-radius: 30px;
  font-weight: 700;
  font-size: 14px;
  border: 0px;
  cursor: pointer;
}


.active {
  background: #444;
}

a {
  color: #222;
  text-decoration: none;
}

/* header */
header nav h1 {
  float: left;
  padding: 20px;
  margin-bottom: 0;
}

header {
  overflow: auto;
  background-color: #333;
  color: white;
  line-height: 1.7em;

}

header nav ul {
  float: right;
  list-style: none;
}

header nav ul li {
  float: left;
}

header nav ul li a {
  color: white;
  padding: 20px;
  display: block;
}

header nav ul li a:hover {
  background: #444;
}

/* main */
/* section1 */

.vp {
  height: 700px;
  background: url(https://coffee-pingucoder.netlify.app/images/cafe1.jpg) center center/cover;
  text-align: center;
  /* background-image: url(https://coffee-pingucoder.netlify.app/images/cafe1.jpg);
  background-position: center center;
  background-size: cover; */
}

.vp-content h1 {
  font-size: 50px;
}

.vp-content {
  padding-top: 150px;
  max-width: 600px;
  display: block;
  margin: auto;
  color: white;
}

.vp-content p {
  font-size: 18px;
  letter-spacing: 0.5px;
  line-height: 1.9em;
}

.vp-content .separator {
  margin: auto;
  background-color: black;
  width: 110px;
  height: 10px;
  align-items: center;
}

.my-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* section2 |features*/

/* .features h1,  
p {
  color: black;
} */

.features {
  padding: 100px 0px 100px 0px;
  text-align: center;
  overflow: auto;
}

.container {
  max-width: 1000px;
  display: block;
  margin: auto;
}

.feature {
  float: left;
  width: 50%;
}


/* section 3  */

.person {
  width: 100%;
  height: 500px;
  background: url(https://coffee-pingucoder.netlify.app/images/cafe3.jpg) center center / cover;
  text-align: center;
}

/* section 4 reservation*/
.reservation {
  padding: 100px 0px 100px 0px;
  text-align: center;
}

/* .reservation h1,
p {
  color: black;
} */


.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.reservation p {
  letter-spacing: 0.5px;
  width: 1000px;
  display: block;
  margin: auto;
  align-items: center;
}

footer {
  background: #222;
  color: white;
  padding: 30px 0px 30px 0px;
  text-align: center;
}

/* localisation */

.local-map {
  width: 700px;
  height: 280px;
  margin: auto;
  margin-top: 80px;
  background: url(https://coffee-pingucoder.netlify.app/images/cafe2.png) center center / cover
}

.icon-local {
  width: 54%;
  height: 105px;
  float: right;
  text-align: center;
  overflow: auto;
  margin-top: 25px;
}

.trouver-nous {
  width: 45%;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
}

/*question*/

.question {
  position: relative;
  font-size: 2em;
  /* Taille du texte, ajustez selon vos besoins */
  text-align: center;
  /* Centre le texte, si nécessaire */
  margin-bottom: 40px;
  margin-top: 40px;
}

.question::after {
  content: "";
  position: absolute;
  top: 100%;
  /* Place la ligne en dessous du texte */
  left: 0;
  width: 100%;
  height: 3px;
  /* Hauteur de la ligne */
  background-color: red;
  /* Couleur de la ligne, changez selon vos besoins */
  margin-top: 3px;
  /* Espace de 3px entre la ligne et le texte */
  width: 515px;
  margin-left: 245px;

}

label {
  margin-top: 100px;
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  width: 95%;
  border: 1px solid #ddd;

}

textarea {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 15px;
  width: 95%;
  border: 1px solid #ddd;

}